<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
<div layout:fragment="content">
  <div class="contact-area d-flex align-items-center">

    <div class="google-map">
      <div id="googleMap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.420594896562!2d106.78291401401272!3d10.855580060697989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2zSHV0ZWNoIEtodSBFIC0gVHJ1bmcgVMOibSDEkMOgbyBU4bqhbyBOaMOibiBM4buxYyBDaOG6pXQgTMaw4bujbmcgQ2Fv!5e0!3m2!1svi!2s!4v1665771827004!5m2!1svi!2s" width="920" height="690" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <div class="contact-info">
      <h2>How to Find Us</h2>
      <p>Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin.</p>

      <div class="contact-address mt-50">
        <p><span>address:</span>  Khu Công nghệ cao TP.HCM (SHTP), Xa lộ Hà Nội, P. Hiệp Phú, TP. Thủ Đức, TP.HCM</p>
        <p><span>telephone:</span> +84 78894223433</p>
        <p style="margin-top:1px;"><span>Email:</span><a href="mailto:contact@essence.com">vandat@gmail.com</a></p>
      </div>
    </div>

  </div>
</div>
</body>
</html>